*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

.container {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.7rem;
}

section {
    padding: 1.5rem 0;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://d.newsweek.com/en/full/1979380/dog-running-through-autumn-leaves.jpg")center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    align-items: center;
}

.title {
    color: #fff;
}

.title h1 {
    font-size: 10rem;
}

.title h2 {
    font-size: 5rem;
}

.title h3 {
    font-size: 3rem;
}

img {
    width: 100%;
    max-width: 100%;
}

header {
    width: 100%;
    background-color: black;
    color: white;
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

input,
button {
    outline: none;
}

a.link {
    color: #fff;
}

.logo {
    max-width: 6rem;
}

.menu__toggle {
    z-index: 2000;
    font-size: 2rem;
}

.fa-times {
    display: none;
}

.fas:hover {
    cursor: pointer;
}

.form {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 2s ease;

}

.form .container h3 {
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: 2rem;

}

.form__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form__content input {
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
}

.form__content label {
    font-size: 2rem;
}

.btn {
    padding: 1.3rem 2.4rem;
    width: 100%;
    font-size: 2rem;
    background-color: lightgreen;
    border: none;
}

p.lorem {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 1rem;
}

.gallery {
    background-color: antiquewhite;
}

.flex {
    display: grid;
    place-items: center;
    gap: 3rem;
    grid-template-areas: 'myCuteImage myCuteImage myCuteImage';
    transition: all .2s ease-in-out;
}

.flex-item {
    grid-area: 'myCuteImage';
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
    background-color: lightcoral;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.237);
}

li {
    list-style: none;
}

.nav-item {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-link {
    font-size: 2rem;
    cursor: pointer;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    transition: transform .2s ease;
    background-color: rgb(53, 51, 51);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transform: translate(-100%);
    z-index: 1250;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.active .nav::before {
    opacity: 1;
    transform: scale(1);

}

.active .fa-times {
    display: block;
}

.active .fa-bars {
    display: none;
}

.active .nav-list {
    transform: translate(0%);
}

footer {
    padding: 3rem 0;
    font-size: 1.9rem;
    text-align: center;
}

.contact__us {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: white;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    padding: 1.5rem;
    cursor: pointer;
    transition: all .2s;
}

.contact__us:hover {
    box-shadow: 2px 2px 20px 2px black;
    transform: translateY(-2rem);
}

@media screen and (max-width:445px) {
    .flex {
        grid-template-areas: 'myCuteImage myCuteImage';
    }
}

@media screen and (min-width:661px) {
    .flex {
        grid-template-areas: 'myCuteImage myCuteImage myCuteImage';
    }

    .form__content {
        max-width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1000px) {
    .flex {
        grid-template-areas: 'myCuteImage myCuteImage myCuteImage myCuteImage myCuteImage';
    }
}